mixin head_title(name)
  title= name + " | " + titleApp
  
mixin add_style(href)
  link(type='text/css' rel='stylesheet' href=href)
    
mixin add_script(src)
  script(type='text/javascript' src=src)
