.nav-content
  .col
    a.btn-flat.btn-large.waves-effect.waves-light.black-text#prev-month
      i.material-icons arrow_back
  .col
    h5.grey-text
      span#current-month| 
      | 
      span#current-year| 
  .col
    a.btn-flat.btn-large.waves-effect.waves-light.black-text#next-month
      i.material-icons arrow_forward
