extends ../application.pug

block variables
  - var title = "Accounts";
block page_style
  +add_style('css/accounts.css')
block title
  +head_title(title)
block nav_title
  a(href="#!" class="brand-logo center")= title
block nav_content
  include ../shared/_nav_content.pug
block page_script
  +add_script('js/accounts.js')
block content
  .container
