extends ../application.pug

block variables
  - var title = "Overview";
block page_style
  +add_style('css/index.css')
block title
  +head_title(title)
block nav_title
  a(href="#!" class="brand-logo center")= title
block nav_content
  include ../shared/_nav_content.pug
block page_script
  +add_script('js/vendor/Chart.bundle.min.js')
  +add_script('js/index.js')
block floating
  include ../shared/_new_entries.pug
  include ../shared/_modal_entries.pug
block content
  .container
    .card
      .row
        .col.s12
          h5.center.grey-text Total Balance
        .col.s12
          h3.center.total-balance-value $8,395.02
      .row
        .col.s4
          span.badge-in.green.white-text IN
          span.green-text#income $10,000.00
        .col.s4
          span.badge-out.red.white-text OUT
          span.red-text#expense $5,000.00
        .col.s4
          span.badge-sav.blue.white-text SAV
          span.blue-text#foreseen $5,000.00
    .card
      .row
        .col.s12
          canvas#bar-chart-balance(width="400" height="200")
            
