extends ../application.pug

block variables
  - var title = "Transactions";
block page_style
  +add_style('css/transactions.css')
block title
  +head_title(title)
block nav_title
  a(href="#!" class="brand-logo center")= title
block nav_content
  include ../shared/_nav_content.pug
block page_script
  +add_script('js/transactions.js')
block floating
  include ../shared/_new_entries.pug
block content
  ul#tabs-swipe-demo.tabs
    li.tab.col.s3
      a.active.grey.lighten-5.red-text(href='#expenses-page') Expenses
    li.tab.col.s3
      a.grey.lighten-5.green-text(href='#incomes-page') Incomes
    li.tab.col.s3
      a.grey.lighten-5.blue-text(href='#transfers-page') Transfers
  #expenses-page.col.s12
    ul.collection
  #incomes-page.col.s12
    ul.collection
  #transfers-page.col.s12
    ul.collection
