// Modal Structure
#new-account.modal.bottom-sheet
  .modal-content
    h4 New Account
    .row
      form.col.s12
        .row
          .input-field.col.s12.m6.l6
            i.material-icons.prefix mode_edit
            textarea#account-description.materialize-textarea
            label(for='account-description') Description
          .input-field.col.s12.m6.l6
            i.material-icons.prefix attach_money
            input#account-balance.currency-input(type="text" pattern="[0-9]*" inputmode="numeric")
            label(for='account-balance') Opening Balance
          .input-field.col.s12
            i.material-icons.prefix account_balance
            select#account-category
              option(value='', disabled='', selected='') Choose your option
            label Category
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat.left(href='#!') Cancel
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save

#new-transfer.modal.bottom-sheet
  .modal-content
    h4 New Transfer
    p {}
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat.left(href='#!') Cancel
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save

#new-income.modal.bottom-sheet
  .modal-content
    h4 New Income
    p {}
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat.left(href='#!') Cancel
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save

#new-expense.modal.bottom-sheet
  .modal-content
    h4 New Expense
    p {}
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat.left(href='#!') Cancel
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save
