// Modal Structure
#new-account.modal.bottom-sheet
  .modal-content
    h4 New Account
    p {}
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save

#new-transfer.modal.bottom-sheet
  .modal-content
    h4 New Transfer
    p {}
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save

#new-income.modal.bottom-sheet
  .modal-content
    h4 New Income
    p {}
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save

#new-expense.modal.bottom-sheet
  .modal-content
    h4 New Expense
    p {}
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save
