.fixed-action-btn
  a.btn-floating.btn-large.blue
    i.large.material-icons add
  ul
    li
      a.btn-floating.blue
        i.material-icons account_balance
    li
      a.btn-floating.yellow.darken-1
        i.material-icons compare_arrows
    li
      a.btn-floating.green
        i.material-icons add
    li
      a.btn-floating.red
        i.material-icons remove
