.fixed-action-btn
  a.btn-floating.btn-large.blue
    i.large.material-icons add
  ul
    li
      a.btn-floating.blue.modal-trigger(href='#new-account')
        i.material-icons account_balance
    li
      a.btn-floating.yellow.darken-1.modal-trigger(href='#new-transfer')
        i.material-icons compare_arrows
    li
      a.btn-floating.green.modal-trigger(href='#new-income')
        i.material-icons add
    li
      a.btn-floating.red.modal-trigger(href='#new-expense')
        i.material-icons remove
