body
  nav
    .nav-wrapper
      block nav_title
      a.sidenav-trigger(href="#" data-target="slide-out")
        i.material-icons menu
  ul#slide-out.sidenav.sidenav-fixed
    li.overview
      a.waves-effect(href="index.html") Overview
    li.accounts
      a.waves-effect(href="accounts.html") Accounts
    li.transactions
      a.waves-effect(href="transactions.html") Transactions
    li.divider
    li
      a.subheader Manager
    li.categories
      a.waves-effect(href="categories.html") Categories
    li.divider
    li.settings
      a.waves-effect(href="settings.html") Settings
    li.about
      a.waves-effect(href="about.html") About
