- var titleApp = "Oinc - Personal Finance";
block variables
  
mixin head_title(name)
  title= name + " | " + titleApp
  
mixin add_style(href)
  link(type='text/css' rel='stylesheet' href=href)
    
mixin add_script(src)
  script(type='text/javascript' src=src)  

doctype html
html(lang='en')
  include includes/_head.pug
  body
    include includes/_sidenav.pug
    main.container
      block content
    footer
      include includes/_footer.pug
    include includes/_scripts.pug
