- var titleApp = "Oinc - Personal Finance";
block variables
include shared/_mixins.pug

doctype html
html(lang='en')
  head
    script.
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(reg => console.info('registered service-worker', reg))
          .catch(err => console.error('error registering service-worker', err));
      }
    //- Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    //- Import custom styles and materialize.css
    link(type='text/css' rel='stylesheet' href='css/style.min.css' media='screen,projection')
    // Custom page style
    block page_style
    //- Import manifet
    link(rel='manifest' href='manifest.json')
    //- Import favicon
    link(type='image/png' rel='icon' href='img/icon-32.png')
    //- Let browser know website is optimized for mobile
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#ffffff')
    meta(name='description' content='A personal finance web application that works even when you are without internet access')
    block title
  body
    include shared/_sidenav.pug
    main
      block content
    block floating
    //- JavaScript at end of body for optimized loading
    //- jQuery
    script(type='text/javascript' src='js/vendor/jquery-3.3.1.min.js')
    //- MaterializeCSS 
    script(type='text/javascript' src='js/vendor/materialize.min.js')
    //- IDBWrapper
    script(type='text/javascript' src='js/vendor/IDBWrapper.js')
    //- Application script
    script(type='text/javascript' src='js/application.js')
    //- Custom page script
    block page_script
