- var titleApp = "Oinc - Personal Finance";
block variables
  
mixin head_title(name)
  title= name + " | " + titleApp
  
mixin add_style(href)
  link(type='text/css' rel='stylesheet' href=href)
    
mixin add_script(src)
  script(type='text/javascript' src=src)  

doctype html
html(lang='en')
  include shared/_head.pug
  body
    include shared/_sidenav.pug
    main
      block content
    footer
      include shared/_footer.pug
    include shared/_scripts.pug
    block floating
