extends _layout.pug

block variables
  - var title = "Overview";
block page_style
  +add_style('css/index.css')
block title
  +head_title(title)
block nav_title
  a(href="#!" class="brand-logo center")= title
block nav_content
  .nav-content
    .col
      a.btn-flat.btn-large.waves-effect.waves-light.black-text#prev-month
        i.material-icons arrow_back
    .col
      h5.grey-text#current-month Dec
    .col
      a.btn-flat.btn-large.waves-effect.waves-light.black-text#next-month
        i.material-icons arrow_forward
block page_script
  +add_script('js/index.js')
block floating
  include includes/_new_entries.pug
  include includes/_modal_entries.pug
block content
  .container
    .row
      .col.s12
        h5.center.grey-text Total Balance
      .col.s12
        h3.center.total-balance-value $8,395.02
    .row
      .col.s4
        span.badge-in.green.white-text IN
        span.green-text#income $10,000.00
      .col.s4
        span.badge-out.red.white-text OUT
        span.red-text#expense $5,000.00
      .col.s4
        span.badge-sav.blue.white-text SAV
        span.blue-text#foreseen $5,000.00
