#new-income.modal.bottom-sheet
  .modal-content
    h4 New Income
    .row
      form.col.s12
        .row
          .row
            //- Description
            .input-field.col.s12.m6
              i.material-icons.prefix mode_edit
              textarea#income-description.materialize-textarea
              label(for='income-description') Description
            //- Amount
            .input-field.col.s12.m6
              i.material-icons.prefix attach_money
              input#income-amount.currency-input(type="text" pattern="[0-9]*" inputmode="numeric")
              label(for='income-amount') Amount
          .row
            //- Due date
            .input-field.col.s6
              i.material-icons.prefix today
              input#income-due-date(type="text" class="datepicker")
              label(for='income-due-date') Due date
            //- Status
            .col.s6
              i.material-icons.prefix spellcheck
              label
                input#income-status(type='checkbox')
                span Confirmed
          .row
            //- Category
            .input-field.col.s12
              i.material-icons.prefix category
              select#income-category
                option(value='', disabled='', selected='') Choose your option
              label Category
            //- Account
            .input-field.col.s12
              i.material-icons.prefix account_balance
              select#income-account
                option(value='', disabled='', selected='') Choose your option
              label Account
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat.left(href='#!' onclick='cleanIncomeForm()') Cancel
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!' onclick='createIncome()') Save
