#new-expense.modal.bottom-sheet
  .modal-content
    h4 New Expense
    .row
      form.col.s12
        .row
          .row
            //- Description
            .input-field.col.s12.m6
              i.material-icons.prefix mode_edit
              textarea#expenses-description.materialize-textarea
              label(for='expenses-description') Description
            //- Amount
            .input-field.col.s12.m6
              i.material-icons.prefix attach_money
              input#expenses-balance.currency-input(type="text" pattern="[0-9]*" inputmode="numeric")
              label(for='expenses-balance') Amount
          .row
            //- Due date
            .input-field.col.s6
              i.material-icons.prefix today
              input#expenses-due-date(type="text" class="datepicker")
              label(for='expenses-due-date') Due date
            //- Status
            .col.s6
              i.material-icons.prefix spellcheck
              label
                input#expenses-status(type='checkbox')
                span Confirmed
          .row
            //- Category
            .input-field.col.s12
              i.material-icons.prefix category
              select#expenses-category
                option(value='', disabled='', selected='') Choose your option
              label Category
            //- Account
            .input-field.col.s12
              i.material-icons.prefix account_balance
              select#expenses-category
                option(value='', disabled='', selected='') Choose your option
              label Account
  .modal-footer
    a.modal-close.waves-effect.waves-green.btn-flat.left(href='#!') Cancel
    a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Save
